@media (max-width: 575px) {
    header h1 {
        font-size: 30px;
    }
    header:before {
        left: -50px !important;
        font-size: 26px;
        top: 100px
    }
    header:after {
        right: -30px !important;
        font-size: 26px;
        top: 100px
    }
}


@media (max-width: 767px) {}


@media (max-width: 991px) {

    header h1:after,
    header span:before,
    header span:after {
        opacity: 0;
        visibility: hidden;
    }
    header h1:before {
        top: auto;
        bottom: 20px;
        left: 50%;
        height: 2px;
        margin-left: -80px;
    }

}


@media (max-width: 1199px) {}
